.section{
  padding-top: 120px;
  padding-bottom: 60px;
}

.tag{
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 4px;
  text-transform: uppercase;

  @media (min-width: 1200px) {
    font-size: 16px;
  }
}
.titleText{
  font-size: 26px;
  margin-bottom: 50px;
  line-height: 120%;
  font-weight: 500;
  max-width: 600px;

  @media (min-width: 900px) {
    max-width: 800px;
    font-size: 40px;
  }

  @media (min-width: 1200px) {
    font-size: 50px;
  }
}

.text{
  font-size: 24px;
  @media (min-width: 1200px) {
    max-width: 1000px;
    // font-size: 50px;
  }
}