.section{
  position: relative;
  max-width: 100vw;
  padding-top: 20px;
  padding-bottom: 40px;
  overflow: hidden;
  height: 500px;
  color: white;
}

.container{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.textBlock{
  text-align: center;
}

.title{
  font-weight: 800;
  font-size: 48px;
  line-height: 50px;
  @media (min-width: 1200px) {
    font-size: 60px;
  }
}

.text{
  font-size: 18px;
  @media (min-width: 1200px) {
    font-size: 25px;
  }
}

.skills{
  margin-top: 12px;
  font-weight: 600;
  font-size: 25px;
  @media (min-width: 1200px) {
    font-size: 35px;
  }
}

.video{
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  min-height: 500px;
  min-width: 100%;
}
