.section{
  padding-top: 20px;
  padding-bottom: 120px;
  overflow: hidden;
}

.line{
  height: 120px;
  margin-bottom: 50px;
}

.item{
  max-width: 80px;
  height: 80px;
  max-height: 80px;
  margin-right: 60px;
  margin-left: 60px;
}

.img{
  width: auto;
  height: 80px;
  max-height: 80px;
  margin-right: 60px;
  margin-left: 60px;
}