.section{
  padding-top: 60px;
  padding-bottom: 120px;

  @media (min-width: 900px) {
    margin-bottom: 150px;
  }
}

.container{
  display: flex;
  flex-direction: column;
  @media (min-width: 900px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

